* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.container {
    padding: 0 100px 0 100px;
}

nav ul,
.main-info-section,
.work-category {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

body {
    background-color:#252627
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
}

.navbar {
    /* background-color: #181818; */
}

.nav-li a:hover {
    color: white;
  }

header h1,
header a,
.text p ,
.about h1,
.skills h1,
.work h1,
.contact h1 {
    color: #707070
}

li {
    list-style: none;
    margin-left: 30px
}

a {
    text-decoration: none;
    font-size: .9rem;
    /* text-transform: uppercase */
    position: relative;
    top: 50%;
    bottom: 50%;
    transform: translateY(-50%);
}

.main-info-section {
    height: calc(100vh - 81.6px);
}

.text {
    margin-top: 120px;
}

.text h1 {
    color: #fff;
    font-size: 4rem;
    margin-bottom: 16px;
    /* cursor: context-menu; */
}

.text h2 {
    color: #fff;
    font-size: 3rem;
}

.text p {
    letter-spacing: 3px;
    word-spacing: 10px;
    font-size: .8rem;
}

.text .contact-button a {
    padding: 12px 25px;
    background-color: none;
    border: 3px solid white;
    color: white;
    font-size: .8rem;
    letter-spacing: 2px;
    position: relative;
    top: 80px;
    overflow: hidden;
    transition: .5s;
    display: inline-block;
}

.text .contact-button a:hover {
    color: #252627;
}

.text  .contact-button a::before {
    content: '';
    background-color: white;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: -1;
    transition: .5s;
    height: 0%;
}

.text .contact-button a:hover::before {
    height: 100%;

}

.icon-container {
    display: flex;
    justify-content: left;
    flex-direction: row wrap;
    margin-top: 8px;
  }

.icon-container hr {
    margin-top: 4rem;
    width: 100%;
    justify-content: left;
    margin-left: 0;
    margin-right: 0;
    height: 0rem;
    border-color:rgb(36, 34, 34);

    
}

.icon-container img {
    width: 3em;
    height: 3em;
    margin: .5em;
    margin-top: 8rem;
    margin-left: 1rem;
    flex-direction: column;
    justify-content: flex-end;
}

/* About */

.about {
    height: 100vh;
    margin-top: 100px;
}

.about h1,
.work h1 {
    font-size: 10rem;
    z-index: 0;
    opacity: .1;
}

.about-me-info {
    max-width: 900px;
    background-color: #252627;
    box-shadow: 0 0 1.2rem rgba(0, 0, 0, .25);
    padding: 50px;
    position: relative;
    top: -70px;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    z-index: 1
}

.about-me-info p {
    font-size: 1.3rem;
    color: #bebebe;
}

.about-me-info .hey {
    font-size: 2rem;
}

.about-me-info p:nth-child(3),
.about-me-info p:last-child {
    margin-top: 30px;
}

.about img {
    width: 200px;
    position: relative;
    top: -300px;
    left: calc(100% - 100px);
    right: calc(100% - 100px);
    transform: translate(calc(-100% + 100px));
    z-index: 2

}